<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
  </head>
<div class="main-screen-container">
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <strong>My Notes</strong>
        </a>
      </div>
    
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            Welcome back {{ userName }}!
          </div>
          <div class="navbar-item">
            Date: {{ date }}
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-light" id="profile" >Profile</a>
          </div>
        </div>
      </div>
    </nav>