.main-screen-container {
  padding: 20px;
  background-color: #2c2c2c;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
}

.profile-container {
  background-color: #1f1f1f; /* Fondo oscuro para el formulario */
  padding: 2rem;
  border-radius: 0.75rem;
  width: 100%; /* Ocupa el 100% del contenedor */
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centramos el texto dentro del formulario */
}

/* Corregido el selector de h1 */
.profile-container h1 {
  color: #ffdd57;
}
