.login a {
    color: #041dbb; 
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;

}

.login a:hover {
    color: #064eb9; 
}

.login {
    margin-top: 10px;
    text-align: center;
}
.signup-form h1.title {
    font-size: 36px; 
    color: #555; 
}button {
    background-color: #914b0b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 36%;
  }
  button:hover {
    background-color: #ff8827;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  p{
    text-align: center;
    
  }
  
.title {
  color: black;
  text-align: center;
  padding: 1.25rem;
  margin-top: -9em;
  font-size: 3rem;
  font-weight: bold;
  
}