<div class="title-container">
    <h1 class="title">Web Calendar</h1>
</div>
<div class="container">
   

    <div class="avatar">
        <img src="https://cdn3.iconfinder.com/data/icons/essential-rounded/64/Rounded-31-512.png" alt="Login Avatar">
    </div>

    <div class="form">
        <h1 class="login-title">Log in</h1>
        <form [formGroup]="userDataForm" (ngSubmit)="login()">
            <mat-form-field class="form-inp" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="userDataForm.get('name')?.hasError('required')">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="form-inp" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="userDataForm.get('password')?.hasError('required')">Password is required</mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit" class="submit-button">Log in</button>
            <p class="login">Don't have an account? Create one <a href="/sign-up">Sign up</a></p>
        </form>
    </div>
</div>
