body {
  font-family: 'Inter', sans-serif;
  background-color: #1A1A1A; /* Fondo oscuro para toda la página */
  color: #FFFFFF; /* Texto blanco */
  margin: 0;
  padding: 0;
}

.note-container {
  width: 90%; 
  height: 100%; 
  min-height: 80vh; /* Ajusta este valor según lo desees */
  margin: 0 auto; 
  padding: 20px;
  background-color: #2A2A2A; /* Color de fondo de la nota */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más profunda */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.note-title-input {
  color: #FFFFFF; /* Texto blanco */
  border: none; /* Sin borde */
  background: transparent; /* Sin fondo */
  font-size: 2rem; /* Ajusta el tamaño según tu diseño */
  width: 100%;
  outline: none; /* Sin contorno */
  text-align: center;
}

.editor-container {
  flex-grow: 1; /* Permitir que el editor crezca */
  padding: 10px;
  background-color: transparent; /* Sin fondo para parecer más limpio */
  color: #FFFFFF; /* Texto blanco */
  min-height: 200px; /* Altura mínima */
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra interna más clara */
  cursor: text; /* Cambiar el cursor a texto al pasar sobre el área editable */
}

.note-content-editable {
  min-height: 200px; /* Altura mínima para el área editable */
  overflow-y: auto; /* Permite el scroll si el contenido es muy largo */
  background-color: #2A2A2A; /* Fondo del área editable */
  outline: none; /* Sin contorno */
  padding: 10px; /* Añadir padding para mejorar el espacio */
  color: #FFFFFF; /* Texto blanco */
  flex-grow: 1; /* Permitir que el editor crezca */

}

/* Eliminar los bordes visibles en la zona editable */
.note-content-editable:focus {
  outline: none; /* Sin contorno */
}

.botonSalir {
  margin-left: 2rem;
  margin-top: 2rem;
}

.control {
  position: absolute; 
  top: 2rem; 
  right: 2rem; 
}

/* Estilos del contenedor de botones */
.button-container {
  padding: 10px; /* Espaciado para el contenedor de botones */
  border-radius: 8px; /* Bordes redondeados para coincidir con el contenedor de notas */
  display: flex; /* Para alinear los botones en línea */
  justify-content: flex-start; /* Alinear a la izquierda */
  gap: 10px; /* Espacio entre los botones */
}

.botonSalir .button, .control .button {
  background-color: #4A4A4A; /* Color de fondo de los botones */
  color: #FFFFFF; /* Texto blanco en los botones */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor a pointer al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el hover */
}

.botonSalir .button:hover, .control .button:hover {
  background-color: #6A6A6A; /* Color más claro en hover */
}
