<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<div class="main-screen-container">
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <strong>My Notes</strong>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          Welcome back {{ userName }}!
        </div>
        <div class="navbar-item">
          Date: {{ date }}
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-light" id="profile">Profile</a>
        </div>
      </div>
    </div>
  </nav>
  
  <h1 class="title">Your Notes</h1>

    <button id="creation"type="button" class="button" (click)="createNote()"> +</button>

  <div class="SearchBar">


    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" placeholder="Search notes"[(ngModel)]="search">
      </div>
      <div class="control">
        <button id="SearchB"class="button is-info" (click)="filterNotes()">
          Search
        </button>
      </div>
    </div>  

  </div>

  <div class="notes-container">
      <div *ngFor="let note of notes" class="note-card" (click)="openNote(note.id)">
      <div class="note-buttons">
        <button class="delete-button" (click)="deleteNote(note)">
          <i class="fas fa-trash"></i>
        </button>
        <button class="favorite-button" (click)="favoriteNote(note)">
          <i class="fas fa-star"></i>
        </button>
      </div>
      <h2 class="note-title">{{note.name}}</h2>
      <p class="note-preview" [innerHTML]="note.content"></p> 
    </div>
  </div>
  
  

    
  </div>



  