@import 'bulma/css/bulma.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/css/font-awesome.css';


body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff; /* Texto claro para mejor contraste */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  
}

.avatar img {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #00796b; /* Color del botón verde oscuro */
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1.5rem;
}

button:hover {
  background-color: #00695c; /* Un tono más oscuro al pasar el mouse */
}

button:active {
  transform: scale(0.98);
}

.login a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.login a:hover {
  color: #2980b9;
}
.title{
  margin-top: 2rem;
}