@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E8DDB5;
}

.mat-app-background {
  background-color: #E8DDB5;
}

mat-form-field {
  width: 100%;
}

.custom-snackbar {
  font-size: 1rem;
  padding: 1.875rem;
}

.custom-snackbar .mat-snack-bar-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf3d6;
}

.avatar {
  text-align: center;
  margin-top: -8rem; /* Ajusta el margen inferior para separar el avatar del formulario */
}

.avatar img {
  width: 100px;
  border-radius: 50%;
}

.form {
  background-color: #f3d992;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.20rem;;
}

.title {
  color: black;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  
}

.title-container {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.form-inp {
  margin-bottom: .9375rem;
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.925rem;
  box-sizing: border-box;
}

.login {
  margin-top: 0.625rem;
  text-align: center;
}

.login a {
  color: #041dbb;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.login a:hover {
  color: #064eb9;
}

button {
  background-color: #3498db; 
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #2980b9; 
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95); 
}


button.icon-button {
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  width: 40px;
  height: 40px;
}
